
<h1>Profiler med matchande erfarenheter</h1>
<ul id="Cvlink" style="overflow-y:scroll; overflow-x:hidden; height:400px;">
    @foreach (var cv in Model.Allcv)
    {
        if (@ViewBag.CurrentUserId != null || cv.User.Private == false)
        {
            <li>
                <a id="CvlinkItem" href="@Url.Action("GoToUserPage", "User", new { userId = cv.User.Id })">
                    <div id="Cvpreview">
                        <p>Namn: @cv.User.Name</p>
                        <p>Epost: @cv.User.UserName</p>

                        @if (cv.Experience != null && cv.Experience.Any())
                        {
                            <hr />
                            <p>Erfarenheter:</p>
                            @foreach (var erfarenhet in cv.Experience)
                            {
                                <p>@erfarenhet.Name</p>
                            }
                        }
                        @if (cv.Skills != null && cv.Skills.Any())
                        {
                            <hr />
                            <p>Färdigheter:</p>
                            @foreach (var fardigheter in cv.Skills)
                            {
                                <p>@fardigheter.Name</p>
                            }
                        }
                    </div>
                </a>
            </li>
        }

    }
</ul>